<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>GenPassword</Name>
    <Version>2.0.0</Version>
    <Title>GenPassword Installer</Title>
    <Publisher>CM0use</Publisher>
    <ProductUrl>https://github.com/CM0use/GenPassword</ProductUrl>
    <StartMenuDir>GenPassword</StartMenuDir>
    <TargetDir>@HomeDir@/GenPassword</TargetDir>
</Installer>
